<!DOCTYPE html>
<html lang="pt">

<head>
    <title>ISEL Formula Student</title>

    <link rel="preload" href="/style.css" as="style">
    <link rel="preload" href="/fonts/open_sans/OpenSans-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/open_sans/OpenSans-Bold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/open_sans/OpenSans-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="stylesheet" href="/style.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
</head>

<body>

    <div id="navbar">
        <div id="navbar_header">
            <a class="logo" href="./"><img src="/logos/ifs_icon_dark.svg"></a>
            <span></span>
            <a id="responsive_navbar_language" href="#" title="Português">
                <img class="flag_icon" src="/icons/pt.svg">
            </a>
            <a id="menu_button" onclick="toggleMenu()">
                MENU
                <img src="/icons/menu.svg">
            </a>
        </div>

        <span></span>
        
        <div id="navbar_menu">
            <a href="about_us">{{language.about_us}}&nbsp;</a>
            <a href="news">{{language.news}}&nbsp;</a>
            <a href="sponsors">{{language.sponsors}}&nbsp;</a>
            <a href="contacts">{{language.contacts}}&nbsp;</a>
        </div>

        <a id="navbar_language" href="#" title="Português">
            <img class="flag_icon"  src="/icons/pt.svg">
        </a>
    </div>

    {{{body}}}

    <footer>
        <div id="footer_container">
            <div>&copy; <span id="year"></span> ISEL FS - Associação de Estudantes de Engenharia</div>
            <span class="separator"></span>
            <a id="footer_privacypolicy" class="link" href="privacy_policy">{{language.privacy_policy}}</a>
        </div>

        <div id="social_buttons">
            <a href="#" target="_blank"><img src="/icons/linkedin.svg"></a>
            <a href="#" target="_blank"><img src="/icons/instagram.svg"></a>
            <a href="#" target="_blank"><img src="/icons/facebook.svg"></a>
            <a href="#" target="_blank"><img src="/icons/twitter.svg"></a>
            <!-- <a href="#" target="_blank"><img src="/icons/youtube.svg"></a> -->
        </div>
    </footer>

    <script>
        new Date().getFullYear()
        document.getElementById("year").innerHTML = new Date().getFullYear();

        function toggleMenu() {
            if (document.getElementById("navbar_menu").className == "") {
                document.getElementById("navbar_menu").className = "open"
                document.getElementById("menu_button").className = "open"
            }
            else {
                document.getElementById("navbar_menu").className = ""
                document.getElementById("menu_button").className = ""
            }
        }
    </script>
    
</body>
</html>